@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #971414;
    animation: backgroundChange 10s infinite;
}
@keyframes backgroundChange {
    0% {
        background-color: #f08f06; /* Start with this color */
    }
    25% {
        background-color: #e74c3c; /* Change to this color at 25% of the animation */
    }
    50% {
        background-color: #2ecc71; /* Change to this color at 50% of the animation */
    }
    75% {
        background-color: #f10f0f; /* Change to this color at 75% of the animation */
    }
    100% {
        background-color: #3c34db; /* Return to the initial color at the end of the animation */
    }
}

/*------------ Login container ------------*/

.box-area {
    width: 930px;
}

/*------------ Right box ------------*/

.right-box {
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder {
    font-size: 16px;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 30px;
}

.left-beVerify {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Make the div take up the full viewport height */
}

.blood-size {
    width: 250px;
}

/*------------ For small screens------------*/

@media only screen and (max-width: 768px) {

    .box-area {
        margin: 0 10px;

    }

    /* .blood-size{
        display: none;
     } */
    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }

    .left-box-media {
        display: flex;
        justify-content: center;
        /* Horizontally center the child element */
        align-items: center;
        /* Vertically center the child element */
        min-height: 100vh;
    }

    .blood-size {
        width: 84px;
    }
}